<div class="grid-container">
  <form>
    <mat-form-field style="width: 100%; text-align: center;" appearance="outline">
      <mat-label>Filtro</mat-label>
      <input type="text" matInput name="filtro" id="filtro" [(ngModel)]="filtro" (keyup)="filtrar()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards">
        <mat-card class="card" routerLink = "/detalhes/{{card.id}}">
          <mat-card-content class="content">
            <img mat-card-image src="{{'http://image.tmdb.org/t/p/w92' +  card.backdrop_path }}" alt="Photo">
            <p> {{ card.title }} </p>
            <p>
              {{ card.overview }}
            </p>
          </mat-card-content>
        </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>
