<form novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Informações</mat-card-title><br>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center;">
        <img style="max-width: 500px;" mat-card-image src="{{'http://image.tmdb.org/t/p/w92' +  filme.poster_path }}" alt="Photo"><br>
      </div>
      <label>Título: {{ filme.original_title }}</label><br><br>
      <label>Descrição: {{ filme.overview }}</label><br><br>

      <label>Adulto: {{ filme.adult == true ? 'Sim' : 'Não' }}</label><br><br>

      <label>Generos</label>
      <div *ngFor="let item of filme.genres">
        <li>{{ item.name }}</li>
      </div><br>

      <label>Lingua original: {{ filme.original_language }}</label><br><br>
      <label>Popularidade: {{ filme.popularity }}</label><br><br>

      <label>Produtoras</label>
      <div *ngFor="let item of filme.production_companies">
        <li>{{ item.name }}</li>
      </div><br>

      <label>Países</label>
      <div *ngFor="let item of filme.production_countries">
        <li>{{ item.name }}</li>
      </div><br>

      <label>Data: {{ filme.release_date }}</label><br><br>

      <label>Tempo de execução: {{ filme.runtime }}</label><br><br>
      <label>Status: {{ filme.status }}</label><br><br>
      <label>Tagline: {{ filme.tagline }}</label><br><br>

      <label>Media Pontuação: {{ filme.vote_average }}</label><br><br>
      <label>Numero de Votos: {{ filme.vote_count }}</label><br>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/index" color="primary" type="button" >Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
